/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
.container {
  text-align: center;
  padding: 80px 0;
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

h1,
h2,
h3,
h4,
a {
  color: hsl(210, 10%, 33%);
}
a {
  text-decoration: none;
}
p {
  color: hsl(201, 11%, 66%);
}
.cta-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.cta-buttons button {
  padding: 20px 60px;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.cta-buttons button:first-child {
  background-color: hsl(171, 66%, 44%);
}
.cta-buttons button:last-child {
  background-color: hsl(233, 100%, 69%);
}
.cta-buttons button:first-child:hover {
  background-color: hsl(171, 66%, 60%);
}
.cta-buttons button:last-child:hover {
  background-color: hsl(233, 100%, 80%);
}
/* Header styles */
.header {
  background-image: url(./images/bg-header-desktop.png);
  background-size: cover;

  background-repeat: no-repeat;
}

.header img {
  margin: 24px 0;
}
.header h1 {
  margin-bottom: 20px;
}
.header p {
  margin-bottom: 32px;
}

/* Feature-section styles */
.feature-section h2 {
  margin-bottom: 24px;
}

/* Download-section styles */
.download-section {
  display: flex;
  gap: 80px;
}

.download-image img {
  max-width: 80%;
}
.download-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 24px auto;
}
.download-text {
  margin-top: 36px;
  width: 50%;
}

/* devices-section styles  */
.devices-section {
  margin: 36px 0;
}
.devices-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* workflow section styles  */
.workflow-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin: 36px 0;
}
.workflow-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* partners section styles */
.partners-section {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners-logos {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

/* Footer styles  */
footer {
  background-color: hsl(201, 11%, 90%);
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row: 1fr 1fr;
}

.footer-image {
  grid-column: 1/2;
  grid-row: 1/-1;
}
.footer-links {
  grid-column: 2/6;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}
.first-el {
  grid-column: 1/2;
  grid-row: 1/2;
}
.second-el {
  grid-column: 1/2;
  grid-row: 2/3;
}
.third-el {
  grid-column: 2/3;
  grid-row: 1/2;
}
.fourth-el {
  grid-column: 2/3;
  grid-row: 2/3;
}
.fifth-el {
  grid-column: 3/4;
  grid-row: 1/2;
}

.socials {
  grid-column: 6/7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive */
@media (max-width: 950px) {
  .header {
    width: 100%;
    background-image: url(./images/bg-header-mobile.png);
    background-size: cover;
  }
  .download-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .download-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .download-content {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .cta-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cta-buttons button {
    width: 100%;
  }
  .workflow-items,
  .partners-logos {
    flex-direction: column;
  }
}
